@charset "utf-8";

/**
 * 功能: 
 * @authors mmklzmant (mmklzmant@163.com)
 * @date    2017-08-01 16:35:40
 */


/**********************************************/


/*公共样式*/


/*********************************************/

body,
html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body,
p,
div,
ul,
li {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    margin: 0 auto;
}


/*浮动*/

.fl {
    float: left;
}

.fr {
    float: right;
}


/*清除浮动*/

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both;
    height: 0;
    visibility: hidden;
}


/**********************************************/
/*样式细节设置*/
/*********************************************/

main {
    width: 100%;
    height: 100%;
    background: url(../images/bg.jpg) no-repeat;
    background-size: cover;
    position: relative;
}

main .page {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}

main .list {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: -100%;
    z-index: 2;
    background-color: rgba(126, 87, 144, 0.6);
    transition: top 0.6s ease-out;
}

main .page span {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #D4D4D4;
    animation: expand 0.6s infinite alternate;

}

main .page p {
    position: absolute;
    cursor: pointer;
}

main .list ul {
    width: 100%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
}

main .list ul li {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    line-height: 50px;
}

main .list ul li label {
    display: inline-block;
    margin-right: 10px;
}


/*动画*/

@keyframes expand {
    0% {
        box-shadow: 0 0 0 2px #bdbdbd;
    }
    100% {
        box-shadow: 0 0 0 4px #D4D4D4;
    }
}


/**********************************************/
/*响应式样式设置*/
/*********************************************/

@media screen and (min-height: 520px) and (max-height: 640px) {
    main p:nth-child(1) {
        left: 59%;
        top: 28%;
    }
    main p:nth-child(2) {
        left: 70%;
        top: 48%;
    }
    main p:nth-child(3) {
        left: 33%;
        top: 93%;
    }
}
@media screen and (min-height: 641px) and (max-height: 660px) {
    main p:nth-child(1) {
        left: 54%;
        top: 28%;
    }
    main p:nth-child(2) {
        left: 65%;
        top: 48%;
    }
    main p:nth-child(3) {
        left: 33%;
        top: 93%;
    }
}
@media screen and (min-height: 661px) {
    main p:nth-child(1) {
        left: 59%;
        top: 29%;
    }
    main p:nth-child(2) {
        left: 70%;
        top: 48%;
    }
    main p:nth-child(3) {
        left: 33%;
        top: 93%;
    }
}