@charset "utf-8";
/**
 * 功能: 
 * @authors mmklzmant (mmklzmant@163.com)
 * @date    2017-08-23
 */

 /**********************************************/
 /*公共样式*/
 /*********************************************/
 #showCode {
    padding: 12px;
    background-color: #313438;
    display: block;
    white-space: pre;
    tab-size: 4;
    color: #fff;
    font-family: Consolas, Monaco, "宋体";
}

/*************************************************/
/* 元件样式定义 */
/*************************************************/



 /**********************************************/
 /*样式细节设置*/
 /*********************************************/



/**********************************************/
 /*响应式样式设置*/
 /*********************************************/

