@charset "UTF-8";
/**
 * 功能：索引页样式
 * @authors mmklzmant (mmklzmant@163.com)
 * @date    2017-08-21 21:32:59

/**********************************************/
 /*样式细节设置*/
 /*********************************************/
/*header*/
.wrapper header{
	height: 50px;
	width: 100%;
	background-color: #fff;
	position: relative;
	z-index: 3;
}
/*首页*/
.home-view header form{
	width: 100%;
	height: 100%;
	display: flex;
	display: -webkit-flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.home-view header form span{
	width: 25px;
	height: 25px;
	display: block;
	background-size: cover;
	background-position: left;
	background-repeat: no-repeat;
}
.home-view header form span.mes{
	background-image: url(../images/home/ic_nav_message.png);
}
.home-view header form span.activity{
	background-image: url(../images/home/ic_nav_activity.png);
}
.home-view header form div.search{
	width: 69%;
	height: 30px;
	position: relative;
}
.home-view header form div.search input{
	width: 100%;
	height: 100%;
	border-radius: 18px;
	outline: none;
	background-color: #F5F3F6;
	border: 1px solid #F8F6F9;
	text-align: center;
	font-size: 12px;
	text-indent: 2em;
}
.home-view header form div.search:before{
	content: "";
	position: absolute;
	left: 26%;
	top: 39%;
	width: 15px;
	height: 15px;
	background-size: cover;
	background-position: left;
	background-image: url(../images/home/ic_nav_search.png);
	background-repeat: no-repeat;
}
/*导航*/
.nav{
	width: 100%;
	position: relative;
	z-index: 2;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.home-nav{
	width:90%;
	height: 40px;
	background-color: #fff;
	overflow-x: scroll;
}
.home-nav ul{
	width: 540px;
	height: 40px;
}
.home-nav ul li{
	font-size: 15px;
	font-weight: 300;
	width: 60px;
	height: 100%;
	line-height: 35px;
	text-align:center;
	float: left;
	position: relative;
}
.wrapper span.home-nav-line{
	position: absolute;
	left: 25px;
	width: 10px;
	height: 2px;
	background-color: #5595F7;
	display: none;
}
.wrapper .home-nav li.show span.home-nav-line{
	display: block;
}
span.home-channel{
	background-color: #fff;
	width: 25px;
	height: 25px;
	position: fixed;
	right: 0;
	top: 53px;
	height: 30px;
	display: inline-block;
	padding-right: 20px;
	background-image: url(../images/home/home_channel.png);
	background-position: center;
	background-repeat: no-repeat;
	box-sizing: content-box;
	background-size: 60% 80%;
}
.home-view .home-content{
	width: 900%;
	height: 100%;
	display: -webkit-flex;
	overflow-x: hidden;
	overflow-y: hidden;
	backface-visibility: hidden;
	position: relative; 
}
.home-view .home-content .content-view{
	-webkit-box-flex: 1;
	height: 100%;
	overflow-y: hidden;
	position: relative;
}
.content-view h1{
	position: absolute;
	color: #7B7B7B;
	font-size: 20px;
	letter-spacing: 3px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
/*关注页面*/
.focus-view{
	width: 100%;
	height: 100%;
}
.focus-view-content{
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	display: -webkit-flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}
.focus-view-content img{
	width: 100px;
	height: 100px;
}
.focus-view-content p{
	margin: 20px 0 30px;
	font-size: 15px;
	letter-spacing: 2px;
}
.focus-view-content button{
	border: none;
	outline: none;
	width: 130px;
	height: 30px;
	line-height: 30px;
	padding: 0;
	border-radius: 16px;
	color: #fff;
	font-size: 13px;
	background: -webkit-linear-gradient(left, #77BBFC, #3882F7);
}
/*推荐页面*/
.home-view .home-content .recom-view{
	height: auto;
	overflow-y: auto;
}
/*轮播图*/
.carousel{
	width: 100%;
	height: 180px;
	position: relative;
}
.carousel .images{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.carousel .images ul{
	width: 600%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.carousel .images ul li{
	float: left;
	width: 16.66%;
}
.carousel .images ul li img{
	width: 100%;
	height: 180px;
}
.carousel .images ul li p{
	width: 16.67%;
	height: 36px;
	line-height: 36px;
	color: #fff;
	font-size: 15px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	background-color: rgba(0, 0, 0, 0.3);
	position: absolute;
	bottom: 0;
}
/*小圆点*/
.carousel .round-icons{
	position: absolute;
	bottom: 40px;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 20;
}
.carousel .round-icons i{
	display: inline-block;
	margin-right: 5px;
	width: 6px;
	height: 6px;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.6s;
}
.carousel .round-icons i.round-checked{
	background-color: #fff;
}
/*列表*/
.recom-view .list{
	width: 100%;
}
.recom-view .list ul{
	width: 100%;
	padding: 5px 15px;
	display: -webkit-flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
.recom-view .list ul li{
	height: 140px;
	padding: 10px 0;
	display: -webkit-flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between; 
	border-bottom: 0.3px solid #F7F8F9;
}
.recom-view .list ul li:last-child{
	border-bottom: none;
}
.recom-view .list ul li .left-content{
	width: 58%;
	height: 100%;
	display: -webkit-flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}
.recom-view .list ul li .right-img{
	width: 34%;
	height: 92%;
}
.recom-view .list ul li .right-img img{
	width: 100%;
	height: 100%;
	border-radius: 5px;
}
.home-content .list ul li h4{
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 1px;
}
.recom-view .list ul li .left-content .other{
	margin-bottom: 7px;
	width: 100%;
	display: -webkit-flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}
.recom-view .list ul li .left-content .other{
	color: #aaa;
	font-size: 12px;
	letter-spacing: 1px;
}
/*快讯*/
.home-view .home-content .flash-view{
	width: 100%;
	height: auto;
	overflow-y: auto;
}
.flash-view ul{
	width: 100%;
	padding: 20px;
}
.flash-view ul li{
	width: 100%;
	display: -webkit-flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	margin-top: 15px;
}
.flash-view ul li:first-child{
	margin-top: 0px;
}
.flash-view ul li .time{
	width: 15%;
	font-size: 13px;
	color: #aaa;
}
.flash-view ul li .flash-right-content{
	width: 84%;
	display: -webkit-flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	border-bottom: 0.3px solid #F7F8F9;
}
.flash-view ul li:last-child .flash-right-content{
	border-bottom: none;
}
.flash-view ul li .flash-right-content h4{
	letter-spacing: 0px;
	line-height: 21px;
}
.flash-view ul li .flash-right-content p{
	display: none;
	font-size: 15px;
	color: #5a5a5a;
	margin-top: 15px;
	line-height: 24px;
	letter-spacing: 1px;
}
.flash-view ul li .flash-right-content.show p{
	display: block;
}
.flash-view ul li .flash-right-content .other{
	width: 100%;
	display: -webkit-flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	color: #aaa;
	font-size: 13px;
	margin-top: 8px;
	margin-bottom: 15px;
}
.flash-view ul li:last-child .flash-right-content .other{
	margin-bottom: 0px;
}
.flash-view ul li .flash-right-content .other-right span:first-child{
	margin-right: 15px;
}
.flash-view ul li .flash-right-content .other-left .icon{
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(../images/common/bottom.png);
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: relative;
	top: 4px;
	left: 2px;
}
.flash-view ul li .flash-right-content .other-left:before{
	content: attr(data-txt);
}
.flash-view ul li .flash-right-content.show .other-left .icon{
	background-image: url(../images/common/top.png);
}
/*开氪*/
.kaike-view header{
	height: 40px;
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
}
.kaike-view header ul{
	height: 100%;
}
.kaike-view header ul li{
	height: 100%;
	font-size: 16px;
	line-height: 40px;
	display: inline-block;
}
.kaike-view header ul li:first-child{
	margin-right: 10px;
}
.kaike-view header span.nav-line{
	left: 128px;
	bottom: 5px;
}
/*开氪轮播图*/
.kaike-view section:nth-of-type(1){
	width: 100%;
	margin-top: 40px;
}
.kaike-view .carousel .round-icons{
	bottom:6px;
}
/*列表*/
.kaike-view section:nth-of-type(2){
	width: 100%;
	background-color: #fff;
	padding: 10px 10px;
}
.kaike-view section:nth-of-type(2) ul{
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: flex-start;
}
.kaike-view section:nth-of-type(2) ul li{
	width: 100%;
	height: 170px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
}
.kaike-view section:nth-of-type(2) li>img{
	display: inline-block;
	width: 35%;
	height: 100%;
	border-radius: 10px; 
	margin-right: 5%;
}
.kaike-view section:nth-of-type(2) .right-content{
	width: 60%;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: flex-start;
}
.kaike-view section:nth-of-type(2) h4{
	font-size: 16px;
	font-weight: 500;
	margin-top: 5px;
	margin-bottom: 5px;
}
.kaike-view section:nth-of-type(2) p:nth-of-type(1){
	font-size: 13px;
	margin-bottom: 3px;
}
.kaike-view section:nth-of-type(2) p:nth-of-type(2){
	width: 100%;
	font-size: 14px;
	color: #aaa;
	overflow:hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-bottom: 20%;
}
.kaike-view section:nth-of-type(2) p:nth-of-type(3) span{
	color: #5595F7;
}
.kaike-view section:nth-of-type(2) p:nth-of-type(3) span:first-child{
	font-weight: 600;
	font-size: 16px;
}
.kaike-view section:nth-of-type(2) p:nth-of-type(3) span:nth-child(2){
	font-size: 12px;
}

/*我的*/
/*login*/
.mine-view section:nth-child(1){
	width: 100%;
	box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
	position: relative;
	z-index: 2;
}
.mine-view .login{
	width: 100%;
	padding: 40px 30px;
	background: #fff;
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}
.mine-view .login-content p:nth-child(1){
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 2px;
	line-height: 36px;
}
.mine-view .login-content p:nth-child(2){
	font-size: 14px;
	letter-spacing: 2px;
	color: #aaa;
	line-height: 24px;
	position: relative;
	z-index: 1;
}
.mine-view .login .head-img{
	width: 64px;
	height: 64px;
	border-radius: 50%;
	background-image: url(../images/mine/ic_avatar_default.png);
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
/*menu*/
.mine-view section:nth-child(2){
	width: 100%;
	background-color: #F7F7F7;
}
.mine-view section:nth-child(2)>div{
	width: 100%;
	background-color: #fff;
	margin-top: 15px;
	margin-bottom: 15px;
}
/*mylover*/
.mine-view .mylover ul{
	height: 88px;
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.mine-view .mylover ul li{
	height: 100%;
	width: 33.3%;
	text-align: center;
	padding-top: 16px;
}
.mine-view .mylover ul li a{
	display: inline-block;
	width: 100%;
	height: 100%;
	text-align: center;
}
.mine-view .mylover ul li i, .mine-view .mylover ul li span{
	display: block;
	margin: 0 auto;
}
.mine-view .mylover ul li span{
	font-size: 15px;
	color: #323232;
	padding-top: 7px;
}
.mine-view .mylover ul li i{
	width: 30px;
	height: 30px;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}
.mine-view .mylover ul li:first-child i.icon{
	background-image: url(../images/mine/prs_collection.png);
}
.mine-view .mylover ul li:nth-child(2) i.icon{
	background-image: url(../images/mine/prs_history.png);
}
.mine-view .mylover ul li:nth-child(3) i.icon{
	background-image: url(../images/mine/prs_comment.png);
}
/*我的页面列表*/
.mine-view .list ul{
	width: 100%;
	padding-left: 50px;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: flex-start;
}
.mine-view .list ul li{
	width: 100%;
	height: 50px;
	border-bottom: 0.5px solid #F7F3F7;
}
.mine-view .list ul li:last-child{
	border-bottom: none;
}
.mine-view .list ul li a{
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}
.mine-view .list ul li span{
	color: #000;
	font-size: 15px;
}
.mine-view .list ul li i.icon{
	width: 25px;
	height: 28px;
	margin-right: 10px;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}
.mine-view .list ul li i.icon:last-child{
	width: 20px;
	height: 20px;
}
.mine-view .list ul li i:last-child{
	background-image: url(../images/common/next.png);
}
.mine-view .list ul li i:first-child{
	position: absolute;
	left: -36px;
}
/*download*/
.mine-view .mydownload ul li:first-child i:first-child{
	background-image: url(../images/mine/prs_sound.png);
}
.mine-view .mydownload ul li:nth-child(2) i:first-child{
	background-image: url(../images/mine/prs_note.png);
}
.mine-view .mydownload ul li:nth-child(2) i.icon:first-child{
	width: 25px;
	height: 26px;
}
/*transaction*/
.mine-view .transaction ul li i:first-child{
	width: 26px;
	height: 24px;
}
.mine-view .transaction ul li:nth-child(1) i:first-child{
	background-image: url(../images/mine/prs_balance.png);
}
.mine-view .transaction ul li:nth-child(2) i:first-child{
	background-image: url(../images/mine/prs_coupon.png);
}
.mine-view .transaction ul li:nth-child(3) i:first-child{
	background-image: url(../images/mine/prs_exchange.png);
}
.mine-view .transaction ul li:nth-child(4) i:first-child{
	background-image: url(../images/mine/prs_order.png);
}
/*setting*/
.mine-view .setting ul li:nth-child(1) i:first-child{
	background-image: url(../images/mine/prs_settings.png);
}
.mine-view .setting ul li:nth-child(2) i:first-child{
	background-image: url(../images/mine/prs_feedback.png);
}
.mine-view .setting ul li:nth-child(3) i:first-child{
	background-image: url(../images/mine/prs_report.png);
}
.mine-view .setting ul li a i:first-child{
	width: 24px;
	height: 24px;
}
/*发现*/
.disc-view{
	margin-top: 50px;
}
.disc-view>header{
	text-align: center;
	position: fixed;
	top: 0px;
	left: 0px;
}
.disc-view header h3{
	font-size: 16px;
	line-height: 50px;
}
/*hot*/
.disc-view section:nth-of-type(1){
	width: 100%;
	height: 110px;
	background-color: #fff;
	padding-top: 13px;
}
.disc-view section:nth-of-type(1) .hot{
	width: 100%;
	height: 100%;
}
.disc-view section:nth-of-type(1) .hot ul{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-around;
}
.disc-view section:nth-of-type(1) .hot ul li{
	width: 33.3%;
	height: 100%;
}
.disc-view section:nth-of-type(1) .hot ul li a{
	display: inline-block;
	width: 100%;
	height: 100%;
	text-align: center;
}
.disc-view .hot ul li a i, .disc-view .hot ul li a span{
	display: block;
	margin: 0 auto;
}
.disc-view .hot ul li a i.icon{
	width: 50px;
	height: 50px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.disc-view .hot ul li a span{
	font-size: 14px;
	color: #000;
	font-weight: 400;
	letter-spacing: 1px;
	padding-top: 9px;
}
.disc-view .hot ul li:first-child a i.icon{
	background-image: url(../images/disc/ic_focus_more.png);
}
.disc-view .hot ul li:nth-child(2) a i.icon{
	background-image: url(../images/disc/ic_focused.png);
}
.disc-view .hot ul li:nth-child(3) a i.icon{
	background-image: url(../images/disc/ic_video_play.png);
}
 /* 发现页面列表 */
.disc-view section{
	width: 100%;
	background-color: #F7F7F7;
} 
.disc-view section .list{
	width: 100%;
	background-color: #fff;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-top: 10px;
	padding-bottom: 20px;
}
/*naokr*/
.disc-view .list header{
	height: 50px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-left: 15px;
	padding-right: 15px;
}
.disc-view .list header>div{
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
} 
.disc-view .list header h3{
	font-size: 17px;
	margin-right: 8px;
}
.disc-view .list header .title>span{
	letter-spacing: -1px;
	font-size: 17px;
	color: #3C80FD;
}
.disc-view .list header .more>span{
	color: #878787;
	font-size: 13px;
}
.disc-view .list header .more>i{
	display: block;
	width: 20px;
	height: 20px;
	background-image: url(../images/common/next.png);
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}
.disc-view .list .card{
	width: 100%;
	overflow-y: auto;
}
.disc-view .list .card ul{
	width: 1300px;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
}
.disc-view .list .card ul li{
	width: 270px;
	padding-right: 15px;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
.disc-view .list .card ul li:first-child{
	padding-left: 15px;
}
.disc-view .list .card ul li img{
	width: 100%;
	height: 130px;
	border-radius: 5px;
}
.disc-view .list .card ul li span{
	display: block;
	font-size: 15px;
	margin-top: 10px;
	height: 44px;
}
.disc-view .list.topic header .title>span{
	color: #F95151;
}
.disc-view .list.activities header .title>span{
	color: #FAA612;
}
.disc-view .list.activities .banner{
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: flex-start;
}
.disc-view .list.activities .banner img{
	width: 100%;
	height: 190px;
	border-radius: 5px;
}
.disc-view .list.activities .banner span{
	font-size: 15px;
	display: inline-block;
	padding-top: 13px;
}
 /**********************************************/
 /*响应式样式设置*/
 /*********************************************/
  @media screen and (max-width: 320px) {
    .home-view header form div.search:before {
        left: 21%;
        top: 39%;
    }
 } 
 @media screen and (min-width: 415px) {
    .home-view header form div.search:before {
        left: 37%;
        top: 39%;
    }
 } 