@charset "utf-8";
/**
 * 功能: 手机支付页面
 * @authors mmklzmant (mmklzmant@163.com)
 * @date    2017-08-16
 */

/**********************************************/
 /*样式细节设置*/
 /*********************************************/
 main ul li{
    border-bottom: 1px solid #aaa;
 }

 .gotoPay{
    width: 100%;
    height: 65px;
    line-height: 65px;
    background-color: #fff;
    cursor: pointer;
    position: relative;
 }
 .gotoPay img{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 8px;
    left: 15px;
    border-radius: 50%;
 }
 .gotoPay span:nth-of-type(1){
    position: absolute;
    left:83px;
    top: 1px;
 }
 .gotoPay span.next{
    color: #aaa;
    position: absolute;
    right: 15px;
    top: 1px;
    font-size: 22px;
    font-weight: bold;

 }
page[data-page]{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    display: block;
    transition: all 0.4s;
}
page[data-page]:nth-child(1){
    z-index: 1;
    left: -100%;
    transition: none;
}
page[data-page]:nth-child(2){
  
}
page[data-page]:nth-child(3),page[data-page]:nth-child(4){
    right: -100%;
    z-index: 1;
}
/*支付页面*/
header span[data-href]{
    line-height: 50px;
    left: 10px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    position: absolute;
}
page:nth-child(3) main{
    width: 100%;
    height: calc(100%-100px);
    padding: 10px;
    top: 50px;
    position: absolute;
}
.payPage p{
    text-align: center;
    margin-bottom: 10px;
}
.payPage p span{
    color: #01aa01;
    font-size: 26px;
}
.input{
    text-align: center;
}
.input label{
    font-size: 25px;
    vertical-align: middle;
}
.input input{
    height: 40px;
    width: 250px;
    vertical-align: middle;
    padding-left: 10px;
    font-size: 20px;
}
#pay{
    width: 100%;
    height: 42px;
    background-color: #01aa01;
    border-radius: 5px;
    border: none;
    display: block;
    margin-top: 20px;
    outline: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
/*支付结果页面*/
page:nth-child(4) main{
    width: 100%;
    height: calc(100%-100px);
    padding: 10px;
    top: 50px;
    position: absolute;
}
page:nth-child(4) main p{
    margin-top: 10px;
    line-height: 50px;
    margin-bottom: 10px;
    width: 100%;
}
page:nth-child(4) main p:first-child{
    font-size: 30px;
    color: #000;
    text-align: center;
}
page:nth-child(4) main p:nth-child(2){
    line-height: 50px;
    font-size: 20px;
    text-align: center;
}
page:nth-child(4) main p:nth-child(2) span{
    font-size: 40px;
    color: #01aa01;
}
page:nth-child(4) main p:nth-child(3){
    line-height: 50px;
    font-size: 20px;
    text-align: center;
}
page:nth-child(4) main p:nth-child(3) span{
    font-size: 40px;
    color: #000;
}

/*遮罩层*/
.mask{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 10;
}

.payInfo{
    position: fixed;
    width: 100%;
    height: calc(100% - 200px);
    left: 0;
    top: 0;
    z-index: 11;
}
.pay-box{
    position: absolute;
    width: 280px;
    height: 220px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #eee;
    left: 50%;
    margin-left: -140px;
    top: 50%;
    margin-top: -110px;
}
.keyboard{
    position: fixed;
    width: 100%;
    height: 200px;
    background-color: #fff;
    border-top: 1px solid #888;
    left: 0;
    bottom: 0;
    z-index: 20;
    overflow: hidden;
}
.keyboard div{
    width: 33.3%;
    float: left;
    height: 25%;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    text-align: center;
    font: 32px/50px "arial";
    cursor: pointer;
}
.keyboard div:empty{
    background-color: #eee;
}

/*pay-box*/
.pay-box{
    position: relative;
}
.pay-box p:nth-child(1){
    position: relative;
    border-bottom: 1px solid #b6ccaf;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}
.pay-box p:nth-child(1) span{
    position: absolute;
    left: 16px;
    top: -1px;
    font-size: 24px;
    color: #999;
    cursor: pointer;
}
.pay-box p:nth-child(2){
    text-align: center;
    line-height: 40px;
}
.pay-box p:nth-child(3){
    text-align: center;
    line-height: 50px;
    font-size: 40px;
    font-family: arial;

}
.pay-box p:nth-child(4){
    display: none;
    height: 20px;
    text-align: center;
    color: #e63434;
    line-height: 20px;
}
#password{
    width: 242px;
    height: 40px;
    border: 1px solid #aaa;
    border-radius: 3px;
    position: absolute;
    bottom: 17px;
    left: 17px;
    overflow: hidden;
}
#password div{
    width: 40px;
    height: 100%;
    border-right: 1px solid #aaa;
    line-height: 40px;
    text-align: center;
    float: left;
}
#password div i{
    width: 16px;
    height: 16px;
    background-color: #333;
    border-radius: 50%;
    display: inline-block;
}
#password div:last-child{
    border-right: none;
}
/**********************************************/
 /*响应式样式设置*/
 /*********************************************/

