@charset "utf-8";
/**
 * 功能: 小米二级菜单导航
 * @authors mmklzmant (mmklzmant@163.com)
 * @date    2017-08-09
 */

/**********************************************/
 /*iconfont*/
 /*********************************************/
@font-face {
  font-family: 'iconfont';  /* project id 380873 */
  src: url('https://at.alicdn.com/t/font_380873_iqr1xjs35a0s5rk9.eot');
  src: url('https://at.alicdn.com/t/font_380873_iqr1xjs35a0s5rk9.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_380873_iqr1xjs35a0s5rk9.woff') format('woff'),
  url('https://at.alicdn.com/t/font_380873_iqr1xjs35a0s5rk9.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_380873_iqr1xjs35a0s5rk9.svg#iconfont') format('svg');
}

 /**********************************************/
 /*公共样式*/
 /*********************************************/
 *{
    box-sizing: border-box;
 }
 body{
    margin: 0;
    padding: 0;
    min-width: 1120px;
    font-size: 14px;
 }
 div,ul,li{
    padding: 0;
    margin: 0;
 }
 ul{
    list-style: none;
 }
 a{
    text-decoration: none;
 }
 .container{
    width: 1226px;
    margin: 0 auto;
 }
 /*浮动*/
 .fl{
    float: left;
 }
.fr{
    float: right;
}
 /*清除浮动*/
 .clearfix:before, .clearfix:after{
    display: table;
    content: "";
 }
 .clearfix:after{
    clear: both;
    height: 0;
    visibility: hidden;
 }


 /**********************************************/
 /*样式细节设置*/
 /*********************************************/
.imgs-turn{
    margin-top: 100px;
    position: relative;
    height: 460px;
}
#menu-items{
    position: absolute;
    top: 0;
    left: 0;
    /*width: 234px;*/
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px 0px;
}
#menu{
    width: 234px;
}
#menu>li{
    width: 100%;
    height: 42px;
    line-height: 42px;
    padding-left: 30px;
    position: relative;
}
#menu>li>a{
    color: #fff;
    font-size: 14px;
}
#menu>li:hover{
    background-color: #ff6700
}
/*图标*/
#menu>li>a>i{
    color: rgba(255, 255, 255, 0.5);
    position: absolute;                
    top: 12px;
    right: 20px;
    font-size: 16px; 
    line-height: 16px;
}
.iconfont{
   font-family: "iconfont";
   font-size: 16px;
   font-weight: bold;                                                            
   font-style: normal;
}
/*子菜单*/
#submenu{
    display: none;
    position: absolute;
    top: 0;
    left: 234px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    box-shadow: 0 8px 16px rgba(0,0,0,0.18);
}
#submenu>li{
    width: 234px;
    height: 76.5px;
    padding-left: 20px;
    line-height: 76.5px;
    /*margin: 17px 0;*/
}
#submenu>li>a{
    font-size: 14px;
    color: #000;
    vertical-align: middle;
    padding-left: 20px;
}
#submenu>li>img{
    width: 40px;
    height: 40px;
    vertical-align: middle;
}
#menu-items:hover #submenu{
    display: block;
}
/**********************************************/
 /*响应式样式设置*/
 /*********************************************/

