@charset "utf-8";
/**
 * 功能: 小米二级菜单导航
 * @authors mmklzmant (mmklzmant@163.com)
 * @date    2017-08-09
 */

 /**********************************************/
 /*公共样式*/
 /*********************************************/
 *{
    box-sizing: border-box;
 }
 body{
    margin: 0;
    padding: 0;
    min-width: 1120px;
    font-size: 14px;
 }
 div,ul,li{
    padding: 0;
    margin: 0;
 }
 ul{
    list-style: none;
 }
 a{
    text-decoration: none;
 }
 .container{
    width: 1226px;
    margin: 0 auto;
 }
 /*浮动*/
 .fl{
    float: left;
 }
.fr{
    float: right;
}
 /*清除浮动*/
 .clearfix:before, .clearfix:after{
    display: table;
    content: "";
 }
 .clearfix:after{
    clear: both;
    height: 0;
    visibility: hidden;
 }


 /**********************************************/
 /*样式细节设置*/
 /*********************************************/
.imgs-turn{
    margin-top: 100px;
    position: relative;
    height: 460px;
}
#menu-items{
    position: absolute;
    top: 0;
    left: 0;
    width: 234px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px 0px;
}
#menu-items>ul>li{
    width: 100%;
    height: 42px;
    line-height: 42px;
    padding-left: 30px;
}
#menu-items>ul>li>a{
    color: #fff;
    font-size: 14px;
}
#menu-items>ul>li:hover{
    background-color: #ff6700
}
#submenu{
    display: none;
    position: absolute;
    top: 0;
    left: 234px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    box-shadow: 0 8px 16px rgba(0,0,0,0.18);
}
#submenu>li{
    width: 234px;
    height: 42px;
    padding-left: 20px;
}
#submenu>li>a{
    font-size: 14px;
    color: #000;
}
#menu-items ul>li:hover ul{
    display: block;
}

/**********************************************/
 /*响应式样式设置*/
 /*********************************************/

