<!doctype html>
<html lang="en">
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="uft-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <base href="/"/>
    <title>中文版</title>

    <!-- Main css-->
    <link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/style/homenewlayout.css" rel="stylesheet">
    <link href="stylesheets/style/index.css" rel="stylesheet">

    {{{_sections.head}}}
</head>
<body>
<header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">中文版</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">首页</a></li>
                    <li><a href="#about">关于</a></li>
                    <li><a href="#contact">联系</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a data-toggle="modal"
                           data-target="#login">登录</a>
                    </li>
                    <li><a data-toggle="modal" data-target="#register">注册</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</header>
{{{body}}}
<footer>
    <section class="">
        <div class="clearfix">
            <dl>
                <dt>
                    APICloud产品
                </dt>
                <dd>
                    <a href="/superwebview">
                        SuperWebView
                    </a>
                </dd>
                <dd>
                    <a href="/deepengine">
                        Deep Engine
                    </a>
                </dd>
                <dd>
                    <a href="/cloudservice">
                        数据云
                    </a>
                </dd>
                <dd>
                    <a href="/cloudmanage">
                        运营云
                    </a>
                </dd>
                <dd>
                    <a href="http://app.apicloud.com/customIntroduce">
                        APP定制
                    </a>
                </dd>
                <dd>
                    <a href="/modulestore">
                        模块Store
                    </a>
                </dd>
            </dl>
            <dl>
                <dt>
                    VIP服务
                </dt>
                <dd>
                    <a href="/vipservice/price">
                        VIP服务
                    </a>
                </dd>
                <dd>
                    <a href="/vipservice/plan">
                        云服务价格
                    </a>
                </dd>
                <dd>
                    <a href="/vipservice/channel">
                        渠道打包
                    </a>
                </dd>
                <dd>
                    <a href="/vipservice/enterpEdition">
                        优先技术支持
                    </a>
                </dd>
                <dd>
                    <a href="/vipservice/course">
                        培训课程
                    </a>
                </dd>
                <dd>
                    <a href="/vipservice/attest">
                        认证工程师
                    </a>
                </dd>
            </dl>
            <dl>
                <dt>
                    资源
                </dt>
                <dd>
                    <a href="http://docs.apicloud.com/" rel="nofollow">
                        文档
                    </a>
                </dd>
                <dd>
                    <a target="_blank" href="http://www.apicloud.com/video_list">
                        视频教程
                    </a>
                </dd>
                <dd>
                    <a target="_blank" href="http://docs.apicloud.com/APICloud/download" rel="nofollow">
                        SDK下载
                    </a>
                </dd>
                <dd>
                    <a target="_blank" href="/devtools">
                        开发工具
                    </a>
                </dd>
                <dd>
                    <a target="_blank" href="/source_code">
                        源码下载
                    </a>
                </dd>
            </dl>
            <dl>
                <dt>
                    APICloud
                </dt>
                <dd>
                    <a href="/about" rel="nofollow">
                        关于我们
                    </a>
                </dd>
                <dd>
                    <a target="_blank" href="http://docs.apicloud.com/%E5%85%B6%E5%AE%83/terms-of-service" rel="nofollow">
                        服务条款
                    </a>
                </dd>
                <dd>
                    <a target="_blank" href="http://docs.apicloud.com/%E5%85%B6%E5%AE%83/privacy-policy" rel="nofollow">
                        隐私条款
                    </a>
                </dd>
                <dd>
                    <a href="/blog">
                        Blog

                    </a>
                </dd>
            </dl>
        </div>
    </section>
    <section class="footer-share">
        <div class="row share">
            <a href="javascript:void(0)" class="share-links">
                <span class="share-email"></span>
                <!-- <img src="../img/index-icon-weixin.png"  alt="app开发"  class="share-icon"/> -->
            </a>
            <a rel="nofollow" target="_blank" class="share-links">
                <span class="share-weixin"></span>
                <!-- <img src="../img/index-icon-weibo.png"  alt="移动应用开发"  class="share-icon"/> -->
            </a>
            <a rel="nofollow" class="share-links">
                <span class="share-qq"></span>
                <!-- <img src="../img/index-icon-facebook.png"  alt="phonegap 教程"  class="share-icon"/> -->
            </a>
            <a rel="nofollow" class="share-links">
                <span class="share-weibo"></span>
                <!-- <img src="../img/index-icon-twitter.png"  alt="html5 app 开发"  class="share-icon"/> -->
            </a>
            <a rel="nofollow" class="share-links">
                <span class="share-tencent-weibo"></span>
                <!-- <img src="../img/index-icon-twitter.png"  alt="html5 app 开发"  class="share-icon"/> -->
            </a>
            <a rel="nofollow" class="share-links">
                <span class="share-rss"></span>
                <!-- <img src="../img/index-icon-twitter.png"  alt="html5 app 开发"  class="share-icon"/> -->
            </a>
        </div>
    </section>
    <section class="copyright">
        <label>
            &copy;2014-2016&nbsp;APICloud&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action" rel="nofollow">京ICP备14027692号</a>&nbsp;&nbsp;&nbsp;&nbsp;京ICP证151131号&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802020063" target="_blank" rel="nofollow">京公网安备 11010802020063号</a>
        </label>
    </section>
</footer>
<script src="vendor/jquery/dist/jquery.min.js"></script>
<script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="vendor/validator/validator.min.js"></script>
<script>
    //登录验证
    function validatorSignInForm() {
        var ret = true;
        if(!validator.isMobilePhone($("#login-tel").val(), "zh-CN"))
        {
            ret = false;
            alert("手机号码格式不正确！");
            $("#login-tel").focus();
            return false;
        }
        if(!validator.isLength($("#login-pwd").val(), {min: 6, max: 20}))
        {
            ret = false;
            alert("密码为6-20位");
            $("#login-pwd").focus();
            return false;
        }
        if(ret){
            signIn();
        }
    }
    function signIn(){
        var para = $("#signInForm").serialize();
        alert(para);
        $.ajax({
            url: "/user/signIn",
            async: true,
            type: "POST",
            data: para,
            success: function (response) {

            }
        });
    }
</script>
{{{_sections.customjs}}}
</body>
</html>