@charset "UTF-8";
/**
 * 功能：公共样式
 * @authors mmklzmant (mmklzmant@163.com)
 * @date    2017-08-21
 */
/**********************************************/
 /*基础样式设置*/
 /*********************************************/
 *, *:before, *:after{
 	box-sizing: border-box;
 }
 html, body, ul, ol, h1, h2, h3, p, div{
 	margin: 0;
 	padding: 0;
 }
 body{
 	font: 20px/1.5 sans-serif, "微软雅黑";
 	background-color: #fff;
 }
 /*container*/
 .container{
	margin: 0 auto;
}	
 /*表单*/
 input, select, button, textarea{
 	padding: 6px;
 	border: 1px solid #999;
 	outline: none;
 	border-radius: 3px;
 	font: 18px sans-serif, "微软雅黑";
 }
 input:focus, select:focus, textarea:focus{
 	border: 2px solid #29f;
 	outline: none;
 	box-shadow: 0 0 10px rgba(15, 153, 255, 0.6);
 }
 input, select, textarea{
 	transition: all 0.15s;
 }

/*无序列表*/
 ul{
 	list-style: none;
 }
 /*超链接*/
 a{
 	text-decoration: none;
 }
 /*浮动*/
.fl{
	float: left;
}
.fr{
	float: right;
}

/*清除浮动*/
.clearfix:before, .clearfix:after{
	display: table;
	content: "";
}
.clearfix:after{
	clear: both;
	height: 0;
	visibility: hidden;
}