@charset "UTF-8";
/**
 * 功能：索引页样式
 * @authors mmklzmant (mmklzmant@163.com)
 * @date    2017-08-25
 */
/**********************************************/
 /*元件样式设置*/
 /*********************************************/
/*container*/
.container{
	width: 80%;
	background-color: #eee;
	margin: 0 auto;
}	

/**********************************************/
 /*样式细节设置*/
 /*********************************************/
/*banner图*/
.banner{
	margin-top: 100px;
	width: 100%;
	height: 404px;
	position: relative;
	transition: all 0.2s;
}
 .banner .images{
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
} 

.banner .images a{
	width: 100%;
	height: 100%;
	position: absolute;
	transition: left 3s;
}
.banner .images a img{
	width: 100%;
	height: 100%;
}
.banner .images .img1{
	left: 0;
}
.banner .images .img2{
	left: 100%;
}
.banner .images .img3{
	left: 100%;
}
.banner .images .img4{
	left: 100%;
}
.banner .images .img5{
	left: 100%;
}
.banner .images .img6{
	left: 100%;
}
/*轮播prev和next按钮*/
.banner .controls a{
	display: block;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	width: 41px;
	height: 70px;
}
.banner .controls #prev{
	background: url(../images/icon-slides.png) no-repeat;
	background-position: -84px 50%;
	left: 0;
	z-index: 20;
}
.banner .controls #next{
	background: url(../images/icon-slides.png) no-repeat;
	background-position: -120px 50%;
	z-index: 20;
	right: 0;
}
.banner .controls #prev:hover{
	background-position: 0 50%;
}
.banner .controls #next:hover{
	background-position: -41px 50%;
}

/*小圆点*/
.round-icons{
	position: absolute;
	bottom: 15px;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 20;
}
.round-icons i{
	display: inline-block;
	margin-right: 10px;
	width: 12px;
	height: 12px;
	border: 2px solid #A2A2A1;
	background-color: #555554;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.6s;
}
.round-icons i:first-child{
	background-color: #fff;
}
.round-icons i:hover{
	background-color: #fff;
}
 /**********************************************/
 /*响应式样式设置*/
 /*********************************************/

 /*宽度小于780px*/
 @media screen and (max-width: 780px) {
 	/*小圆点*/
 	.round-icons{
		bottom: 10px;
 	}
     .round-icons i {
         width: 8px;
         height: 8px;
         border: 1px solid #A2A2A1;
     }

     /*轮播prev和next按钮*/
     .banner .controls a {
         width: 21px;
         height: 34px;
     }

     .banner .controls #prev {
         background: url(../images/icon-slides_small.png) no-repeat;
         background-position: -42px 50%;
     }

     .banner .controls #next {
         background: url(../images/icon-slides_small.png) no-repeat;
         background-position: -63px 50%;
     }

     .banner .controls #prev:hover {
         background-position: 0 50%;
     }

     .banner .controls #next:hover {
         background-position: -21px 50%;
     }
 }