@charset "UTF-8";
/**
 * 功能：公共样式
 * 作者： 卢敏 (mmklzmant@163.com)
 * 最后修改日期：   2017-09-06
 */
/**********************************************/
 /*基础样式设置*/
 /*********************************************/
 *, *:before, *:after{
 	box-sizing: border-box;
 }
 html, body, ul, ol, h1, h2, h3, h4, h5, p, div{
 	margin: 0;
 	padding: 0;
 }
 body,html{
 	width: 100%;
 	min-width: 1200px;
 }
 body{
 	font: 16px sans-serif, "微软雅黑";
 }
 section,footer,header,article,aside{
 	display: block;
 }
 /*表单*/
 input, select, button, textarea{
 	padding: 6px;
 	border: 1px solid #999;
 	outline: none;
 	border-radius: 3px;
 	font: 15px sans-serif, "微软雅黑";
 }
 input:focus, select:focus, textarea:focus{
 	border: 1px solid #29f;
 	outline: none;
 	box-shadow: 0 0 10px rgba(15, 153, 255, 0.6);
 }
 input, select, textarea{
 	transition: all 0.15s;
 }

/*无序列表*/
 ul{
 	list-style: none;
 }
 /*超链接*/
 a{
 	text-decoration: none;
 }

/*header*/
header{
	width: 100%;
	min-width: 1200px;
	height: 60px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
	position: absolute;
	left: 0;
	top: 0;
	z-index: 99;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}
header:hover{
	background-color: rgba(255,255,255,.15);
}
header .menu{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
}
header .logo{
	height: 40px;
	width: 120px;
	background: url(../images/common/logo.png) no-repeat;
	background-size: cover;
	background-position: center;
}
header .menu a{
	width: 100px;
	line-height: 60px;
	color: #fff;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	transition: all 0.4s;
}
header .menu a:hover{
	background-color: #3c9ce6;
	color: #fff;
}
 header .menu a.active{
	background-color: #0668B4;
	color: #fff;
} 
/*登录注册按钮*/
header .menu #user-form{
	color: #0A7AD0;
	font-size: 14px;
}
header .menu #user-form p{
	width: 66px;
	text-align: center;
	line-height: 66px;
	font-size: 1.2em;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
header .menu .login{
	margin-left: 5px;
}
header .menu .login button{
	padding: 5px 5px;
	color: #0A7AD0;
	height: 30px;
	border: none;
	outline: none;
	font-size: 14px;
	background-color: transparent;
	cursor: pointer;
}
header .menu .login button:hover{
	color: #fff;
}
header .menu .login button:active{
	color: #0668B4;
}
/*footer*/
footer{
	width: 100%;
	background-color: #3d444f;
}
footer .footer-content{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 55px 0 60px 10%;
}
footer .copyright{
	width: 100%;
	height: 52px;
	line-height: 52px;
	background-color: #363d46;
	color: #cbd3b9;
	background-size: 0.875em;
	text-align: center;
	text-align: center;
}
footer .footer-content>div{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	margin-right: 66px;
}
footer .footer-content>div>span{
	color: #fff;
	font-size: 1em;
	padding-bottom: 26px;
}
footer .footer-content>div>a{
	color: #9ca3ae;
	padding-bottom: 17px;
	font-size: 0.875em;
}
/**********************************************/
/*基础样式设置*/
/*********************************************/
@media screen and (min-width: 800px){
	header {
   	 padding: 0 10%;
   	}
}