@charset "UTF-8";
/**
 * 功能：弹出框样式
 * @authors mmklzmant (mmklzmant@163.com)
 * @date    2017-08-28 17:40:49
 */

/*字体*/
@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'),
  url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-user:before { content: "\e6a0"; }

.icon-quxiao:before { content: "\e607"; }

.icon-nicheng:before { content: "\e672"; }

.icon-pwd:before { content: "\e60c"; }

/*遮罩层*/
component{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: -1;
}
/*弹出框样式*/
component div.popup-content{
	width: 350px;
	background-color: #f6f6f6;
	border-radius: 6px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
	padding: 30px 20px;
}
.popup-delete{
	position: absolute;
	right: -6px;
	top: -10px;
	color: #3c9ce6;
	font-size: 26px;
	cursor: pointer;
}
.popup-delete:hover{
	color: #6BB0E5;
}
.popup-delete:active{
	color: #05518B;
}
/*公共样式*/
/*登录*/
component form>div{
	margin: 0 10px 15px;
	position: relative;
}
component form{
	margin-top: 10px;
	margin-bottom: 10px;
}
component form div.login-title{
	font-size: 1em;
	font-weight: 200;
	color: #3c9ce6;
	width: 100%;
	text-align: center;
	margin: 0 0 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}
component form div.login-title>i{
	display: inline-block;
	width: 66px;
	height: 1px;
	background-color: #3c9ce6;
}
component form div.login-title>i:last-child{
	margin-left: 10px;
}
component form div.login-title>i:first-child{
	margin-right: 10px;
}
component form>div>input{
	width: 100%;
	height: 40px;
	border-radius: 5px;
	vertical-align: middle;
	padding-left: 35px;
}
component form>div>button{
	width: 100%;
	height: 40px;
	color: #fff;
	background-color: #3c9ce6;
	border: none;
	outline: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1em;
	margin-top: 20px;
}
component form>div>button:hover{
	background-color: #6BB0E5;
}
component form>div>button:active{
	background-color: #05518B;
}
/*注册*/
component .register form div.login-title{
	margin-bottom: 60px;
}
.register form>div{
	position: relative;
	margin: 0 10px 30px;
}
component form>div>p:first-child{
	position: absolute;
	top: -23px;
	left: 10px;
	color: #f00;
	font-size: 14px;
}
.register form>div:nth-child(5) input{
	width: 190px;
	margin-right: 10px;
	padding: 6px;
}
.register form>div>span:nth-child(3){
	display: inline-block;
	width: 85px;
	text-align: center;
	height: 35px;
	line-height: 35px;
	vertical-align: middle;
	border: 1px solid #999;
	background-color: #999;
	border-radius: 2px;
	color: #9DB3D0;
	cursor: pointer;
}
 .register form>div>span#verCode{
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	color: #282929;
	border-radius: 2px;
	cursor: pointer;
	position: absolute;
	right: 28px;
	top: 10px;
	opacity: 0;
	transition: opacity 0.15s ease-out;
} 

/*图标位置*/
.popup-content em{
	position: absolute;
	top: 8px;
	left: 6px;
	font-size: 20px;
	color: #A3A5A4;
	transition: color .15s;
}
.popup-content input:focus + em{
	color: #3c9ce6;
}

/*动画*/
@keyframes move{
	0%{
		left: 50%;
	}
	5%{
		left: 48%;
	}
	10%{
		left: 50%;
	}
	15%{
		left: 52%;
	}
	20%{
		left: 50%
	}
	25%{
		left: 48%;
	}
	30%{
		left: 50%;
	}
	35%{
		left: 52%;
	}
	40%{
		left: 50%;
	}
	45%{
		left: 48%;
	}
	50%{
		left: 50%;
	}
	55%{
		left: 52%;
	}
	60%{
		left: 50%
	}
	65%{
		left: 48%;
	}
	70%{
		left: 50%;
	}
	75%{
		left: 52%;
	}
	80%{
		left: 50%;
	}
	85%{
		left: 48%;
	}
	90%{
		left: 50%;
	}
	95%{
		left: 52%;
	}
	100%{
		left: 50%;
	}
}