@charset "utf-8";
/**
 * 功能: 
 * @authors mmklzmant (mmklzmant@163.com)
 * @date    2017-08-01 16:35:40
 */

 /**********************************************/
 /*公共样式*/
 /*********************************************/
 *{
    box-sizing: border-box;
 }
 body,html{
    height: 100%;
    width: 100%;
    background: url(../images/bg.jpg) no-repeat;
    background-size: cover;
 }
 body,p,div{
    margin: 0;
    padding: 0;
 }
 ul{
    list-style: none;
 }
 a{
    text-decoration: none;
 }
 .container{
    width: 1170px;
    margin: 0 auto;
 }
 /*浮动*/
 .fl{
    float: left;
 }
.fr{
    float: right;
}
 /*清除浮动*/
 .clearfix:before, .clearfix:after{
    display: table;
    content: "";
 }
 .clearfix:after{
    clear: both;
    height: 0;
    visibility: hidden;
 }



 /**********************************************/
 /*样式细节设置*/
 /*********************************************/
 body>p{
    margin-left: 50px;
    margin-top: 40px;
    font-size: 20px;
 }
 /*表单填写*/
form.main{
    padding-top: 20px;
    margin-left: 30px;
}
form.main button{
    border: none;
    background-color:  rgba(15, 153, 255, 0.6);
    cursor: pointer;
    width: 150px;
    height: 40px;
    border-radius: 4px;
    color: #fff;
    margin-left: 20px;
    outline: none;
}
form.main button:hover{
    background-color: #64BBFC;
}
form.main button:active{
    background-color: #0576CB;
}

/**********************************************/
 /*响应式样式设置*/
 /*********************************************/

