@charset "utf-8";
/**
 * 功能: 
 * @authors mmklzmant (mmklzmant@163.com)
 * @date    2017-08-01 16:35:40
 */

 /**********************************************/
 /*公共样式*/
 /*********************************************/
 *{
    box-sizing: border-box;
 }
 body,p,div,h1,main,ul, li{
    margin: 0;
    padding: 0;
 }
 body{
    font: 16px "微软雅黑";
    position: relative;
 }
 body,html{
    width: 100%;
    height: 100%;
    overflow: hidden;
 }
 ul{
    list-style: none;
 }
 a{
    text-decoration: none;
 }

 /**********************************************/
 /*样式细节设置*/
 /*********************************************/
.main{
    background: url(../images/bg.jpg) #fff;
    width: 100%;
    height: 100%;
}
.main header{
    height: 40px;
    border-bottom: 1px solid #ddd;
    position: relative;
}
.main footer{
    height: 40px;
    border-top: 1px solid #ddd;
    position: relative;
}
.main header h1{
    text-align: center;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 40px;
}
button{
    height: 100%;
    padding: 0 12px;
    background-color: transparent;
    border: none;
    margin: 0;
    cursor: pointer;
    outline: none;
}
button, textarea{
    font-size: 1rem;
    outline: 0;
}
#mainCancle{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    color: #e9b114;
}
#mainEdit{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    color: #e9b114;
}
#mainEdit:disabled{
    color: #ddd;
    text-shadow: 0 -1px 0 #aaa;
}
main{
    height: calc(100% - 80px);
    padding-bottom: 30px;
    margin-left: 12px;
    margin-right: 12px;
    overflow-y: auto;
}
main ul li{
    padding: 6px 0;
    line-height: 24px;
    border-bottom: 1px solid #ddd;
}
main ul li div:first-child{
    width: 0px;
    height: 48px;
    overflow: hidden;
    position: relative;
    display: inline-block;
}
main ul li div:nth-child(2)
{
    display: inline-block;
}
main ul li p{
    margin: 0;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #333;
}
main ul li p:last-child{
    font-size: 0.9rem;
    color: #888;
    margin-top: 2px;
}
main ul li div i{
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50%;
    line-height: 16px;
    color: #fff;
    left: 8px;
    top: 22px;
    cursor: pointer;
}
main ul li div i.checked{
    background-color: #e9b114;
    border-color: #e9b114;
}
.main footer h1{
    text-align: center;
    font-weight: 400;
    font-size: .8em;
    line-height: 40px;
}
.main footer .rightBtn{
    position: absolute;
    top: 0;
    right: 0;
}
.leftBtn, .rightBtn{
    background: center center no-repeat;
    background-size: 44%;
    color: #e9b114;
}
.main #mainAdd{
    display: block;
    width: 50px;
    background-image: url(../images/edit.png);
}
.main #mainDelete{
    display: none;
    position: absolute;
}
.edit{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 10;
    background: url(../images/bg.jpg) #fff;
    position: absolute;
    left: 100%;
    top: 0;
    width: 100%;
    height: 100%;
    transition: left 0.5s ease-out;
}
.edit header{
    height: 40px;
    position: relative;
    border-bottom: 1px solid #ddd;
}
.edit button i{
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}
.edit button i:after{
    width: 100%;
    height: 100%;
    content: "";
    display: inline-block;
    background: url(../images/prev.png) no-repeat;
    background-size: cover;
}
.edit button#saveBtn{
    position: absolute;
    top: 0;
    right: 0;
}
.edit button#saveBtn{
    color: #ddd;
    text-shadow: 0 -1px 0 #aaa;
}
.edit main textarea{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    padding: 8px;
    resize: none;
    overflow-y: auto;
    font: lighter 16px/1.6 "微软雅黑";
}
.edit footer{
    height: 40px;
    border-top: 1px solid #ddd;
    position: relative;
}
.edit footer #editBtn{
    width: 50px;
    background-image: url(../images/edit.png);
    position: absolute;
    top: 0;
    right: 0;
}
/*scrollbar的样式*/
::-webkit-scrollbar{
    width: 0;
}
/**********************************************/
 /*响应式样式设置*/
 /*********************************************/

