{{#section 'head'}}
    <!-- we want Google to ignore this page -->
    <meta name="robots" content="noindex">
{{/section}}
<main>
    <h1>contact page</h1>
    <p>We're testing some jQuery stuff.</p>

    {{> discount}}
</main>

{{#section 'customjs'}}
    <script>
        $('document').ready(function(){
            $('h1').html('jQuery Works');
        });
    </script>
{{/section}}