@charset "utf-8";
/**
 * 功能: 索引页样式
 * @authors mmklzmant (mmklzmant@163.com)
 * @date    2017-08-21
 */

 /**********************************************/
 /*公共样式*/
 /*********************************************/
 *, *:before, *:after{
    box-sizing: border-box;
 }
 html, body, ul, ol, h1, h2, h3, p, div{
    margin: 0;
    padding: 0;
 }
 body{
    font: 20px/1.5 sans-serif, "微软雅黑";
    background-color: #eee;
 }
 input, select, button, textarea{
    padding: 6px;
    border: 1px solid #999;
    outline：none;
    border-radius: 3px;
    font: 18px sans-serif, "微软雅黑";
 }
 input:focus, select:focus, textarea:focus{
    border: 2px solid #29f;
    outline: none;
    box-shadow: 0 0 10px rgba(15, 153, 255, 0.6);
 }
 input, select, textarea{
    transition: all 0.15s;
 }
 ul{
    list-style: none;
 }
 a{
    text-decoration: none;
 }
 /*浮动*/
 .fl{
    float: left;
 }
.fr{
    float: right;
}
 /*清除浮动*/
 .clearfix:before, .clearfix:after{
    display: table;
    content: "";
 }
 .clearfix:after{
    clear: both;
    height: 0;
    visibility: hidden;
 }


/*************************************************/
/* 元件样式定义 */
/*************************************************/
/*block*/
page{
    display: block;
}
/*基本列表样式*/
.base-list{
    width: 100%;
    background-color: #fff;
}
.base-list li{
    padding: 6px;
    border-bottom: 1px solid #ccc;
    position: relative;
    cursor: pointer;
}
.base-list li i[data-arrow="right"]{
    width: 24px; height: 24px;
    font: normal 24px/1 sans-serif;
    position: absolute;
    top: 50%;
    right: 6px;
    color: #aaa;
    transform: translate(0, -50%);
}
.base-list li img, .base-list li span{
    display: inline-block;
    vertical-align: middle;
}
.base-list li img{
    width: 48px; height: 48px;
    border-radius: 50%;
}
.base-list li span{
    margin-left: 10px;
}
/*控件显示容器*/
component{
    background-color: rgba(102, 102, 102, 0.37);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
/*密码组件--主容器*/
component .pwdComponent{
    width: 100%;
    height: 100%;
}
/*密码组件--遮罩层*/
component .masklaer{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
/*密码组件--付款信息区域*/
component .payInfo{
    z-index: 1;
    height: calc(100% - 200px);
    position: relative;
}
/*密码组件--数字键盘区域*/
component .numKeyboard{
    z-index: 0;
    height: 200px;
    position: absolute;
    background-color: #fff;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
/*数字键盘样式设置*/
component .numKeyboard div{
    width: 33.33333333%;
    height: 25%;
    line-height: 50px;
    float: left;
    text-align: center;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    cursor: pointer;
}
component .numKeyboard div:empty{
    background-color: #eee;
}
component .numKeyboard div:hover{
    background-color: #eee; 
}
component .numKeyboard div:active{
    background-color: #aaa; 
}
/*支付信息面板*/
component .payInfo .payInfo-panel{
    width: 80%;
    height: 200px;
    background-color: #fff;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
component .payInfo .payInfo-panel h1{
    font: normal 20px "微软雅黑";
    font-style: normal;
    position: relative;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid #91D1A0;
}
component .payInfo .payInfo-panel h1 span{
    position: absolute;
    left:10px;
    top: 1px;
}
component .payInfo .payInfo-panel p{
    text-align: center;
}
component .payInfo .payInfo-panel #payee_2{
    color: #0fd43d;
}
component .payInfo .payInfo-panel p.error{
    color: #f00;
    font-size: 16px;
}
component .payInfo .payInfo-panel .password{
    width: 240px;
    height: 40px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    border: 1px solid #000;
    overflow: hidden;
}
/*支付信息面板密码输入*/
.password>div{
    width: 16.66666666%;
    height: 100%;
    border-right: 1px solid #000;
    float: left;
    text-align: center;
    line-height: 40px;
}
.password>div:last-child{
    border-right: none;
}
.password>div>i{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #000;
    border-radius: 50%;
}
/*header和footer*/
header, footer{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #535353;
    color: #fff;
    text-align: center;

}
footer{
    color: #ddd;
}

.btn{
    width: 100%;
    cursor: pointer;
    border: none;
    box-shadow: 0 4px 4px rgba(30, 30, 30, 0.15);
}
.btn:active{
    box-shadow: none;
    border: none;
}
.btn.default{
    background-color: #0fd43d;
    color: #fff;
}
.btn.payBtn{
    background-color: #fc8c1d;
    color: #fff;
}
.payee{
    color: #0fd43d;
}
.mt-5{
    margin-top: 5px;
}
.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}
.mt-30{
    margin-top: 30px;
}
 /**********************************************/
 /*样式细节设置*/
 /*********************************************/
html, body, main, page{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
main{
    /*由于手机端的body标签不支持此属性，所有设置在body的子标签main上*/
    overflow: hidden;
}
page div.content{
    height: calc(100% - 80px);
    overflow-y: auto; 
    padding: 12px;
}
page div.content p{
    text-align: center;
}
page{
    position: absolute;
    transition: left 0.6s;
}
page:nth-of-type(2), page:nth-of-type(3){
    left: 100%;
    background-color: #fff;
}
page:nth-of-type(1){
    page:nth-of-type(1);
}
page:nth-of-type(1) div.content{
    padding: 0;
}
header{
    position: relative;
}
header > back{
    position: absolute;
    left: 12px;
    font-size: 1rem;
    cursor: pointer;
}
/**********************************************/
 /*响应式样式设置*/
 /*********************************************/

