@charset "UTF-8";
/**
 * 功能：公共样式
 * @authors mmklzmant (mmklzmant@163.com)
 * @date    2017-08-21
 */
/**********************************************/
 /*基础样式设置*/
 /*********************************************/
 *, *:before, *:after{
 	box-sizing: border-box;
 }
 html, body, ul, li, ol, h1, h2, h3, h4, p, div{
 	margin: 0;
 	padding: 0;
 }
 body{
 	font: 20px/1.5 sans-serif, "微软雅黑";
 	background-color: #fff;
 }
 /*表单*/
 input, select, button, textarea{
 	padding: 6px;
 	border: 1px solid #999;
 	outline: none;
 	border-radius: 3px;
 	font: 18px sans-serif, "微软雅黑";
 }
 input, select, textarea{
 	transition: all 0.15s;
 }

/*无序列表*/
 ul{
 	list-style: none;
 }
 /*超链接*/
 a{
 	text-decoration: none;
 }

 /*浮动*/
.fl{
	float: left;
}
.fr{
	float: right;
}

/*清除浮动*/
.clearfix:before, .clearfix:after{
	display: table;
	content: "";
}
.clearfix:after{
	clear: both;
	height: 0;
	visibility: hidden;
}
/*滚动条样式*/
::-webkit-scrollbar { 
	height: 0px;
}
/*每个对应底部导航的容器*/
.wrapper{
	width: 100%;
	height: 100%;
}
/*view*/
.view{
	width: 100%;
	height: 100%;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: flex-start;
}
/*footer*/
.footerNav{
	width: 100%;
	background-color: #fff;
	border-top: 1px solid #eee;
	position: fixed;
	left: 0;
	bottom: 0;
}
.footerNav a{
	width: 25%;
	height: 50px;
	float: left;
	padding-top: 3px;
	padding-bottom: 3px;
}
.footerNav a i, .footerNav a span{
	display: block;
	margin: 0 auto;
}
.footerNav a i.icon{
	width: 30px;
	height: 30px;
	background-size: contain;
	background-position: left;
	background-repeat: no-repeat;
}
.footerNav a span{
	height: 18px;
	text-align: center;
	line-height: 14px;
	font-size: 11px;
	color: #080808;
}
.footerNav a:first-child .icon{
	background-image: url(../images/home/ic_tab_home_normal.png);
}
.footerNav a:nth-child(2) .icon{
	background-image: url(../images/home/ic_tab_kaike_normal.png);
}
.footerNav a:nth-child(3) .icon{
	background-image: url(../images/home/ic_tab_discovery_normal.png);
}
.footerNav a:nth-child(4) .icon{
	background-image: url(../images/home/ic_tab_mine_normal.png);
}
.footerNav a.checked:first-child .icon{
	background-image: url(../images/home/exo_controls_replay_small.png);
}
.footerNav a.checked:nth-child(2) .icon{
	background-image: url(../images/home/ic_tab_kaike_active.png);
}
.footerNav a.checked:nth-child(3) .icon{
	background-image: url(../images/home/ic_tab_discovery_active.png);
}
.footerNav a.checked:nth-child(4) .icon{
	background-image: url(../images/home/ic_tab_mine_active.png);
}